.router-link,
.no-underline {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg_icon {
  transform: scale(1.8);
}

.overlay {
  position: 'relative' !important;
  z-index: 1000 !important;
  opacity: 1.01;
}

.underlay {
  position: 'relative' !important;
  z-index: 0 !important;
  opacity: 0.99;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
